.alt-header__column .alt-header__column__chat{
    width: 33%;
}

.alt-header__column:first-child {
    margin-right: auto;
}


.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column__chat {
    margin-left: auto;
}

.alt-header__column__chat span {
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
    z-index: 2;
}

#chat-screen .alt-header {
    background-color: #abc1d1;
    position: sticky;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.main-chat {
    padding-top: 150px;
}