@import "reset.css";
@import "variable.css";

@import "status-bar.css";
@import "welcome-header.css";
@import "screen-header.css";
@import "friends.css";
@import "user-components.css";
@import "components/badge.css";
@import "find.css";


@import "nav-bar.css";


body{
    color: #2e363e;
    font-family: -apple-system,system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: var(--main-border);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]){
    border-bottom: var(--main-border);
    transition: border-color 0.3s ease-in-out;
}

#login-form input ::placeholder{
color: var(--color-gray);
}

#login-form input:focus{
    border-color:var(--yellow);
}

#login-form input[type="submit"]{
    background-color:var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    color:inherit ;
    font-size: 13px;
}

.main-screen{
    padding: 0px var(--horizontal-space);
}