.welcome-header{
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text{
    width: 40%;
    opacity: 0.7;
}